lo.bilibili.network
log
tls internal
reverse_proxy /awsl/ {
    to https://lo.bilibili.network:12347
    header_up Host {http.request.hostport}
    transport http {
        tls_insecure_skip_verify
    }
}

