https://lo.bilibili.network:443 {
    tls self_signed
    log /awsl stdout
    errors stdout
    proxy /awsl https://lo.bilibili.network:1443 {
        transparent
        insecure_skip_verify
    }
}