https://lo.bilibili.network:443 {
    tls self_signed
    log /h2c stdout
    log /awsl stdout
    errors stdout
    proxy /h2c https://lo.bilibili.network:1444 {
        transparent
        insecure_skip_verify
    }
    proxy /awsl https://lo.bilibili.network:1443 {
        websocket
        insecure_skip_verify
    }
}